<ion-header [translucent]="true">
  <ion-toolbar>
    @if(hasBackBtn){
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    }
    <ion-title [ngStyle]="{ 'text-align': hasBackBtn ? 'center' : '' }">{{
      title
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
