.form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-footer {
  ion-toolbar {
    ion-button {
      padding-bottom: 2vh;
      padding-left: 4vw;
      padding-right: 4vw;
    }
  }
}
