<div class="container-component">
  @for (item of runners; track item){
  <ion-item-sliding>
    <ion-item>
      <ion-avatar>
        <img
          [src]="
            item.avatar
              ? item.avatar
              : 'https://ionicframework.com/docs/img/demos/avatar.svg'
          "
          alt=""
        />
      </ion-avatar>
      <span> {{ item.full_name }} </span>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="presentAlert(item)"
        ><ion-icon name="trash-outline"></ion-icon
      ></ion-item-option>
      <ion-item-option color="primary" (click)="editUser(item)"
        ><ion-icon name="create-outline"></ion-icon
      ></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  }
</div>
