span {
  padding: 2vh;
}

.container-component {
  padding: 2vh;
}

ion-icon {
  font-size: 25px;
}

ion-button {
  background: var(--ion-color-primary);
  color: white;
  border-radius: 10px;
  box-shadow: none !important;
}
